// bower:scss
// endbower
$navyBlue: #003b74;
body {
    background: #fff;
}
.hidden {
    visibility: hidden!important; 
}
.btn-floating {
    background-color: $navyBlue;
    &:hover {
        background-color: $navyBlue;
    }
}
.section.hero {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    .logo-section {
        padding-top: 80px;
        h5 {
            color: $navyBlue;
            font-weight: 500;
            margin: 0;
            text-transform: uppercase;
            font-size: 1.3rem;
        }
    }
}
.section.realtime {
    h5 {
        text-transform: uppercase;
        font-weight: 500;
        color: $navyBlue;
        margin-bottom: 48px;
    }
    p {
        margin-top: 24px;
    }
}
.section.responsive {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    h5 {
        color: $navyBlue;
        text-transform: uppercase;
        margin-bottom: 48px;
    }
    h6 {
        color: $navyBlue;
        font-weight: 500;
        text-transform: uppercase;
    }
    .box {
        padding: 24px;
        margin-top: 24px;
        background-color: $navyBlue;
        color: #fff;
        border-radius: 2px;
    }
}
.section.webapp {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    h5 {
        color: $navyBlue;
        text-transform: uppercase;
        margin-bottom: 48px;
    }
    h6 {
        color: $navyBlue;
        font-weight: 500;
        text-transform: uppercase;
    }
    .text {
        padding-top: 48px;
    }
}
.section.devices {
    h5 {
        color: $navyBlue;
        text-transform: uppercase;
        margin-bottom: 48px;
    }
}
.page-footer {
    background-color: transparent!important;
    .footer-copyright {
        margin-top: 36px;
        background-color: $navyBlue!important;
    }
    .footer-logo {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
    h5 {
        color: $navyBlue;
        text-transform: uppercase;
        margin-top: 36px;
        span {
            border-bottom: 3px solid $navyBlue;
        }
    }
    h6 {
        color: $navyBlue;
        font-weight: 500;
        text-transform: uppercase;
    }
    .email-wrapper {
        font-style: normal;
    }
}
@media screen and (max-width: 600px) {
    .section.hero {
        padding-top: 24px;
    }
    .responsive-main {
        margin-bottom: 24px;
    }
    .section.webapp {
        .text {
            padding-top: 0px;
        }
    }
    .page-footer {
        .footer-copyright{
            padding-top: 12px;
            padding-bottom: 12px;
            height: auto!important;
            line-height: inherit!important;   
        }
    }
}
